@using TrackerApp.Models;

<h1>Vendors</h1>
@if (Model.Count == 0)
{
  <p>There are no vendors in the list.</p>
}
<ul>
  @foreach (Vendor vendor in Model)
  {
    <li><a href='/vendors/@vendor.Id'>@vendor.Name</a></li>
  }
</ul>

<a href="/vendors/new">Add a new vendor.</a>

<form action="/vendors/delete" method="post">
  <button type="submit" name="button">Clear All vendors</button>
</form>
