<h1>Order Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/orders/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/orders'>View all orders</a>
<p><a href='/'>Return to Main Page</a></p>